# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
-List popular languages used in data science
-List some commonly used libraries used by data scientists
-Create a table of some popular data science tools
-Evaluable arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Lab|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes into hours by dividing by 60
minutes = 200
hours = minutes / 60
print(minutes, "minutes is equal to:", hours, "hours")

200 minutes is equal to: 3.3333333333333335 hours

## Author
Saikrishna Sunkara